server.port = 8080
server.servlet.context-path=/brapi/v2


spring.datasource.url=jdbc:postgresql://EXAMPLE:5432/EXAMPLE
spring.datasource.hikari.data-source-properties.stringtype=unspecified
spring.datasource.username=EXAMPLE
spring.datasource.password=EXAMPLE

spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=false

spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration,classpath:db/sql
spring.flyway.schemas=public
spring.flyway.baselineOnMigrate=true

spring.mvc.dispatch-options-request=true

security.oidc_discovery_url=https://example.com/auth/.well-known/openid-configuration
security.enabled=true
security.issuer_url=http://example.com/issuerurl

# This should either be set in accordance with a maximum number of SQL parameters (on JOIN FETCHES of collections,
# if there is more than one collection the IDs of each entity need to be passed through as parameters, and there is a SQL
# maximum of 65535.  See GermplasmService.findGermplasmEntities()),
# whatever returns in a reasonable amount of time,
# or if you want to limit for the sake of server efficiency.
paging.page-size.max-allowed=65000

paging.page-size.default=1000